List = []
Tuple = ()
Dictionary = {key, value}
Set = {value}

slice
[start:end:stripe]
stripe 가 양수 -> 맨 앞부터 순서대로
stripe 가 음수 -> 맨 뒤부터 순서대로

In [5]:
a = "python"
b = a[::1]
c = a[::-1]
print(a)
print(b)
print(c)

python
python
nohtyp

In [9]:
numbers = "123456789"
numbers[1::2]

'2468'

**List Copy**
1. deep Copy
2. Shallow Copy

In [11]:
a=1; b=2; c=3
a, b, c

# Tuple

(1, 2, 3)

In [28]:
a, b = 1, 2
print(a, b)

b, a = a, b
print(a, b)

1 2
2 1

In [73]:
list1 = ['a', 'b', 'c']
print('a' in list1)
print('d' in list1)
print('b' not in list1)
print('e' not in list1)

True
False
False
True

In [37]:
x = input()
print(x)

1 +2
1 +2

In [77]:
a = ['hi', 'hello', 'hello', 'apple', 'banana']
b = ['computer', 'banana', 'strawberry']
c = set(a + b)
list(c)

['banana', 'hi', 'computer', 'strawberry', 'apple', 'hello']

In [75]:
# 변수 초기화

%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [76]:
# 기록

%whos

Interactive namespace is empty.

In [80]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

  *
 ***
*****
 ***
  *

In [133]:
for b in range(1, 6, 2):
    print(' ' * ((5-b)//2), end='')
    print('*' * b)
for a in range(1, 6, 2):
    print(' ' * ((a//2)+1), end='')
    print('*' * (4-a))

  *
 ***
*****
 ***
  *

In [142]:
for sp in map(abs, range(-2, 3)): print(" "*sp, "*"*(5-sp*2))

   *
  ***
 *****
  ***
   *

1. 기본 코드
2. 수식 코드
3. map 
4. 최종 한 줄

1. 1-9 까지의 네 자리 숫자
2. 중복 숫자는 안된다
3. strike : 숫자/자릿수 정확하게 맞았을 때
4. ball : 숫자만 있을 경우

- 6749

- 1234 : 1ball
- 5678 : 2ball
- 3456 : 2ball
- 4567 : 3ball
- 9654 : 3ball
- 7945 : 1strike 2ball
- 7596 : 3ball
- 4589 : 1strike 1ball

- 9876 : 1strike 1ball
- 8765 : 2ball
- 7654 : 2ball
- 9753 : 1strike 2ball
- 9865 : 1strike 1ball
- 9543 : 2strike 
- 9571 : 2strike 1ball
- 9527 : 이거다

- 9423 : 2ball
- 9876 : 1strike 1ball
- 9865 : 1strike 2ball
- 9543 : 3ball
- 7891 : 1strike 1ball
- 5843 : 1strike 2ball
- 9843 : 1strike 2ball
- 9854 : 2strike 2ball
- 4859 :

In [3]:
num = '2358'
end = True
while end:
    insert = input()
    strike = 0
    ball = 0

    if num == insert:
        end = False
    else:
        for a in range(4):
            if num[a] == insert[a]:
                strike += 1
            elif insert[a] in num:
                ball += 1
        print(strike, ball)

2345
2 1
1234
0 2
9876
0 1
7938
1 1
3589
0 3
2357
3 0
2938
2 1
2358

In [ ]:
# zip 사용하여 리팩토링