In [102]:
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt

공공데이터포털 (www.data.go.kr)

1. 문제 정의 - 안전 체감도: https://news.mt.co.kr/mtview.php?no=2014102009548225853
2. 데이터 수집 - https://data.seoul.go.kr/dataList/316/S/2/datasetView.do;jsessionid=7E57780468E5E1B7FA9F507BBFF1D3EA.new_portal-svr-21
3. 데이터 가공

In [54]:
df = pd.read_csv("report.txt.csv", sep="\t", header=[0,1], thousands=',')
df

      기간   자치구      합계          살인        강도      강간강제추행           절도         \
      기간   자치구      발생     검거   발생   검거   발생   검거     발생    검거     발생     검거
0   2014    합계  130674  79061  158  152  343  299   5462  4957  59393  19120
1   2014   종로구    5021   4610    3    7   12   15    226   948   2272   1281
2   2014    중구    5231   3188    6    5   13   13    221   161   2576    887
3   2014   용산구    3799   2340    1    2    7    7    213   169   1560    522
4   2014   성동구    3582   2048    1    1    5    6    141   103   1753    529
5   2014   광진구    6268   3531    8    9   16   22    249   199   3167   1001
6   2014  동대문구    4363   2882   12   11   13    8    141   112   1809    676
7   2014   중랑구    5353   3259   11   10   14   11    163   118   2390    823
8   2014   성북구    4606   3028    8    5   16   20    165   128   2130    935
9   2014   강북구    4030   2806    6    5   21   10    189   152   1494    575
10  2014   도봉구    3124   1986    6    7   11   15    172   159   1350    478
11  2014   노원구    5312   3300    5    4    8    7    173   136   2404    803
12  2014   은평구    5431   3325    5    3   24   21    188   158   2352    798
13  2014  서대문구    4194   2588    3    3    4    7    185   150   1883    665
14  2014   마포구    5740   3136    4    4   22    9    265   218   2763    742
15  2014   양천구    4642   2654    5    5   11   10    129    96   2058    630
16  2014   강서구    5289   3225    8    6    9    9    214   179   2341    734
17  2014   구로구    5389   2985    3    3   14   10    252   186   2377    579
18  2014   금천구    3842   2434    7    7    9    6    162   133   1552    496
19  2014  영등포구    7003   4072   14   15   10    5    250   183   3080    892
20  2014   동작구    3869   2312    2    2    9    7    203   120   1787    603
21  2014   관악구    6781   3701    7    8   25   22    361   238   3029    784
22  2014   서초구    5558   3122    6    9   14   12    285   184   2747    782
23  2014   강남구    8851   5262   13    9   37   29    512   403   3895   1193
24  2014   송파구    8004   3982    9    8    9   10    255   195   4199    885
25  2014   강동구    5392   3285    5    4   10    8    148   129   2425    827

       폭력
       발생     검거
0   65318  54533
1    2508   2359
2    2415   2122
3    2018   1640
4    1682   1409
5    2828   2300
6    2388   2075
7    2775   2297
8    2287   1940
9    2320   2064
10   1585   1327
11   2722   2350
12   2862   2345
13   2119   1763
14   2686   2163
15   2439   1913
16   2717   2297
17   2743   2207
18   2112   1792
19   3649   2977
20   1868   1580
21   3359   2649
22   2506   2135
23   4394   3628
24   3532   2884
25   2804   2317

df.info()
df.unique()
df.columns

droplevel(n)
df.get_level_values(0) + df.get_level_values(1)
reset_index()

rename -> dictionary
update -> key:value update. dictionary 를 dictionary 로 merge update
mean(1) : 결과에 대한 axis. 작동 방향에 대한 axis 라면 표 하단에 평균값
axis(0), axis(1) -> 가로/세로

folium
konlpy
xs

쪼개보기 : faceting
scaling

In [55]:
# df.reset_index()
header = df.columns
col = header.get_level_values(0) + header.get_level_values(1)

In [56]:
df.columns = list(col)
df.head()

,기간기간,자치구자치구,합계발생,합계검거,살인발생,살인검거,강도발생,강도검거,강간강제추행발생,강간강제추행검거,절도발생,절도검거,폭력발생,폭력검거
0,2014,합계,130674,79061,158,152,343,299,5462,4957,59393,19120,65318,54533
1,2014,종로구,5021,4610,3,7,12,15,226,948,2272,1281,2508,2359
2,2014,중구,5231,3188,6,5,13,13,221,161,2576,887,2415,2122
3,2014,용산구,3799,2340,1,2,7,7,213,169,1560,522,2018,1640
4,2014,성동구,3582,2048,1,1,5,6,141,103,1753,529,1682,1409

In [60]:
d = df.drop('기간기간', axis=1)
d = d.drop(0)
d.head()

,자치구자치구,합계발생,합계검거,살인발생,살인검거,강도발생,강도검거,강간강제추행발생,강간강제추행검거,절도발생,절도검거,폭력발생,폭력검거
1,종로구,5021,4610,3,7,12,15,226,948,2272,1281,2508,2359
2,중구,5231,3188,6,5,13,13,221,161,2576,887,2415,2122
3,용산구,3799,2340,1,2,7,7,213,169,1560,522,2018,1640
4,성동구,3582,2048,1,1,5,6,141,103,1753,529,1682,1409
5,광진구,6268,3531,8,9,16,22,249,199,3167,1001,2828,2300

In [61]:
d.set_index('자치구자치구', inplace=True)
d.head()

,합계발생,합계검거,살인발생,살인검거,강도발생,강도검거,강간강제추행발생,강간강제추행검거,절도발생,절도검거,폭력발생,폭력검거
자치구자치구,,,,,,,,,,,,
종로구,5021,4610,3,7,12,15,226,948,2272,1281,2508,2359
중구,5231,3188,6,5,13,13,221,161,2576,887,2415,2122
용산구,3799,2340,1,2,7,7,213,169,1560,522,2018,1640
성동구,3582,2048,1,1,5,6,141,103,1753,529,1682,1409
광진구,6268,3531,8,9,16,22,249,199,3167,1001,2828,2300

In [65]:
happen = d.iloc[::, ::2]
happen = happen.div(happen.max())
happen.head()

            합계발생      살인발생      강도발생  강간강제추행발생      절도발생      폭력발생
자치구자치구
종로구     0.567281  0.214286  0.324324  0.441406  0.541081  0.570778
중구      0.591007  0.428571  0.351351  0.431641  0.613479  0.549613
용산구     0.429217  0.071429  0.189189  0.416016  0.371517  0.459263
성동구     0.404700  0.071429  0.135135  0.275391  0.417480  0.382795
광진구     0.708169  0.571429  0.432432  0.486328  0.754227  0.643605

In [9]:
tot =  pd.concat([happen, arrest], axis=1)
tot.head()

NameError: name 'arrest' is not defined

In [66]:
happen = d.iloc[::, ::2]
col = list(happen.columns)
ls_col = list(map(lambda i:i[:-2],col))
dict_col = dict(zip(col, ls_col))
happen.rename(columns=dict_col, inplace=True)
happen.head()

          합계  살인  강도  강간강제추행    절도    폭력
자치구자치구
종로구     5021   3  12     226  2272  2508
중구      5231   6  13     221  2576  2415
용산구     3799   1   7     213  1560  2018
성동구     3582   1   5     141  1753  1682
광진구     6268   8  16     249  3167  2828

In [67]:
arrest = d.iloc[::, 1::2]
col = list(arrest.columns)
ls_col = list(map(lambda i:i[:-2],col))
dict_col = dict(zip(col, ls_col))
arrest.rename(columns=dict_col, inplace=True)
arrest.head()

          합계  살인  강도  강간강제추행    절도    폭력
자치구자치구
종로구     4610   7  15     948  1281  2359
중구      3188   5  13     161   887  2122
용산구     2340   2   7     169   522  1640
성동구     2048   1   6     103   529  1409
광진구     3531   9  22     199  1001  2300

In [89]:
tot = arrest.div(happen, axis=1)
tot.head()

              합계        살인     강도    강간강제추행        절도        폭력
자치구자치구
종로구     0.918144  2.333333  1.250  4.194690  0.563820  0.940590
중구      0.609444  0.833333  1.000  0.728507  0.344332  0.878675
용산구     0.615952  2.000000  1.000  0.793427  0.334615  0.812686
성동구     0.571748  1.000000  1.200  0.730496  0.301768  0.837693
광진구     0.563338  1.125000  1.375  0.799197  0.316072  0.813296

In [92]:
for i in tot.columns:
    tot[i] = tot.apply(lambda x: 1 if x[i] > 1 else x[i], axis = 1)
tot.head()

              합계        살인   강도    강간강제추행        절도        폭력
자치구자치구
종로구     0.918144  1.000000  1.0  1.000000  0.563820  0.940590
중구      0.609444  0.833333  1.0  0.728507  0.344332  0.878675
용산구     0.615952  1.000000  1.0  0.793427  0.334615  0.812686
성동구     0.571748  1.000000  1.0  0.730496  0.301768  0.837693
광진구     0.563338  1.000000  1.0  0.799197  0.316072  0.813296

In [101]:
tot['검거율 평균'] = tot.mean(1)
tot.sort_values(by='검거율 평균',ascending=False,  inplace=True)
tot.head()

              합계   살인   강도    강간강제추행        절도        폭력    검거율 평균
자치구자치구
종로구     0.918144  1.0  1.0  1.000000  0.563820  0.940590  0.903759
도봉구     0.635723  1.0  1.0  0.924419  0.354074  0.837224  0.791907
서대문구    0.617072  1.0  1.0  0.810811  0.353160  0.831996  0.768840
용산구     0.615952  1.0  1.0  0.793427  0.334615  0.812686  0.759447
광진구     0.563338  1.0  1.0  0.799197  0.316072  0.813296  0.748650

In [ ]:
plt.pcolor(df)

plt.xticks(np.arange(0.5, len(df.columns), 1), df.columns)

plt.yticks(np.arange(0.5, len(df.index), 1), df.index)

plt.title('Heatmap by plt.pcolor()', fontsize=20)

plt.xlabel('Year', fontsize=14)

plt.ylabel('Month', fontsize=14)

plt.colorbar()



plt.show()



출처: https://rfriend.tistory.com/419 [R, Python 분석과 프로그래밍의 친구 (by R Friend)]

In [4]:
df_1 = pd.read_csv("report.txt.csv", sep="\t", header=[1], thousands=',')
df_1

,기간,자치구,발생,검거,발생.1,검거.1,발생.2,검거.2,발생.3,검거.3,발생.4,검거.4,발생.5,검거.5
0,2014,합계,130674,79061,158,152,343,299,5462,4957,59393,19120,65318,54533
1,2014,종로구,5021,4610,3,7,12,15,226,948,2272,1281,2508,2359
2,2014,중구,5231,3188,6,5,13,13,221,161,2576,887,2415,2122
3,2014,용산구,3799,2340,1,2,7,7,213,169,1560,522,2018,1640
4,2014,성동구,3582,2048,1,1,5,6,141,103,1753,529,1682,1409
5,2014,광진구,6268,3531,8,9,16,22,249,199,3167,1001,2828,2300
6,2014,동대문구,4363,2882,12,11,13,8,141,112,1809,676,2388,2075
7,2014,중랑구,5353,3259,11,10,14,11,163,118,2390,823,2775,2297
8,2014,성북구,4606,3028,8,5,16,20,165,128,2130,935,2287,1940
9,2014,강북구,4030,2806,6,5,21,10,189,152,1494,575,2320,2064
10,2014,도봉구,3124,1986,6,7,11,15,172,159,1350,478,1585,1327
11,2014,노원구,5312,3300,5,4,8,7,173,136,2404,803,2722,2350
12,2014,은평구,5431,3325,5,3,24,21,188,158,2352,798,2862,2345
13,2014,서대문구,4194,2588,3,3,4,7,185,150,1883,665,2119,1763
14,2014,마포구,5740,3136,4,4,22,9,265,218,2763,742,2686,2163
15,2014,양천구,4642,2654,5,5,11,10,129,96,2058,630,2439,1913
16,2014,강서구,5289,3225,8,6,9,9,214,179,2341,734,2717,2297
17,2014,구로구,5389,2985,3,3,14,10,252,186,2377,579,2743,2207
18,2014,금천구,3842,2434,7,7,9,6,162,133,1552,496,2112,1792
19,2014,영등포구,7003,4072,14,15,10,5,250,183,3080,892,3649,2977
20,2014,동작구,3869,2312,2,2,9,7,203,120,1787,603,1868,1580
21,2014,관악구,6781,3701,7,8,25,22,361,238,3029,784,3359,2649
22,2014,서초구,5558,3122,6,9,14,12,285,184,2747,782,2506,2135
23,2014,강남구,8851,5262,13,9,37,29,512,403,3895,1193,4394,3628
24,2014,송파구,8004,3982,9,8,9,10,255,195,4199,885,3532,2884
25,2014,강동구,5392,3285,5,4,10,8,148,129,2425,827,2804,2317

In [7]:
df_1.groupby(['자치구', '발생.1', '발생.2']).size().reset_index(name='count')

     자치구  발생.1  발생.2  count
0    강남구    13    37      1
1    강동구     5    10      1
2    강북구     6    21      1
3    강서구     8     9      1
4    관악구     7    25      1
5    광진구     8    16      1
6    구로구     3    14      1
7    금천구     7     9      1
8    노원구     5     8      1
9    도봉구     6    11      1
10  동대문구    12    13      1
11   동작구     2     9      1
12   마포구     4    22      1
13  서대문구     3     4      1
14   서초구     6    14      1
15   성동구     1     5      1
16   성북구     8    16      1
17   송파구     9     9      1
18   양천구     5    11      1
19  영등포구    14    10      1
20   용산구     1     7      1
21   은평구     5    24      1
22   종로구     3    12      1
23    중구     6    13      1
24   중랑구    11    14      1
25    합계   158   343      1

In [3]:
def calcData(col):
    param1 = col['발생']
    param2 = col['검거']
    
    if(param1 < param2):
        return param1
    return param2

In [4]:
df['실제 검거'] = df['살인'].apply(calcData, axis=1) + df['강도'].apply(calcData, axis=1) + df['강간강제추행'].apply(calcData, axis=1) + df['절도'].apply(calcData, axis=1) + df['폭력'].apply(calcData, axis=1)
df

      기간   자치구      합계          살인        강도      강간강제추행           절도         \
      기간   자치구      발생     검거   발생   검거   발생   검거     발생    검거     발생     검거
0   2014    합계  130674  79061  158  152  343  299   5462  4957  59393  19120
1   2014   종로구    5021   4610    3    7   12   15    226   948   2272   1281
2   2014    중구    5231   3188    6    5   13   13    221   161   2576    887
3   2014   용산구    3799   2340    1    2    7    7    213   169   1560    522
4   2014   성동구    3582   2048    1    1    5    6    141   103   1753    529
5   2014   광진구    6268   3531    8    9   16   22    249   199   3167   1001
6   2014  동대문구    4363   2882   12   11   13    8    141   112   1809    676
7   2014   중랑구    5353   3259   11   10   14   11    163   118   2390    823
8   2014   성북구    4606   3028    8    5   16   20    165   128   2130    935
9   2014   강북구    4030   2806    6    5   21   10    189   152   1494    575
10  2014   도봉구    3124   1986    6    7   11   15    172   159   1350    478
11  2014   노원구    5312   3300    5    4    8    7    173   136   2404    803
12  2014   은평구    5431   3325    5    3   24   21    188   158   2352    798
13  2014  서대문구    4194   2588    3    3    4    7    185   150   1883    665
14  2014   마포구    5740   3136    4    4   22    9    265   218   2763    742
15  2014   양천구    4642   2654    5    5   11   10    129    96   2058    630
16  2014   강서구    5289   3225    8    6    9    9    214   179   2341    734
17  2014   구로구    5389   2985    3    3   14   10    252   186   2377    579
18  2014   금천구    3842   2434    7    7    9    6    162   133   1552    496
19  2014  영등포구    7003   4072   14   15   10    5    250   183   3080    892
20  2014   동작구    3869   2312    2    2    9    7    203   120   1787    603
21  2014   관악구    6781   3701    7    8   25   22    361   238   3029    784
22  2014   서초구    5558   3122    6    9   14   12    285   184   2747    782
23  2014   강남구    8851   5262   13    9   37   29    512   403   3895   1193
24  2014   송파구    8004   3982    9    8    9   10    255   195   4199    885
25  2014   강동구    5392   3285    5    4   10    8    148   129   2425    827

       폭력         실제 검거
       발생     검거
0   65318  54533  79061
1    2508   2359   3881
2    2415   2122   3188
3    2018   1640   2339
4    1682   1409   2047
5    2828   2300   3524
6    2388   2075   2882
7    2775   2297   3259
8    2287   1940   3024
9    2320   2064   2806
10   1585   1327   1981
11   2722   2350   3300
12   2862   2345   3325
13   2119   1763   2585
14   2686   2163   3136
15   2439   1913   2654
16   2717   2297   3225
17   2743   2207   2985
18   2112   1792   2434
19   3649   2977   4071
20   1868   1580   2312
21   3359   2649   3700
22   2506   2135   3119
23   4394   3628   5262
24   3532   2884   3981
25   2804   2317   3285

In [5]:
df['검거율'] = df['실제 검거'].astype(float) / df['합계', '발생'].astype(float) * 100
df

      기간   자치구      합계          살인        강도      강간강제추행           절도         \
      기간   자치구      발생     검거   발생   검거   발생   검거     발생    검거     발생     검거
0   2014    합계  130674  79061  158  152  343  299   5462  4957  59393  19120
1   2014   종로구    5021   4610    3    7   12   15    226   948   2272   1281
2   2014    중구    5231   3188    6    5   13   13    221   161   2576    887
3   2014   용산구    3799   2340    1    2    7    7    213   169   1560    522
4   2014   성동구    3582   2048    1    1    5    6    141   103   1753    529
5   2014   광진구    6268   3531    8    9   16   22    249   199   3167   1001
6   2014  동대문구    4363   2882   12   11   13    8    141   112   1809    676
7   2014   중랑구    5353   3259   11   10   14   11    163   118   2390    823
8   2014   성북구    4606   3028    8    5   16   20    165   128   2130    935
9   2014   강북구    4030   2806    6    5   21   10    189   152   1494    575
10  2014   도봉구    3124   1986    6    7   11   15    172   159   1350    478
11  2014   노원구    5312   3300    5    4    8    7    173   136   2404    803
12  2014   은평구    5431   3325    5    3   24   21    188   158   2352    798
13  2014  서대문구    4194   2588    3    3    4    7    185   150   1883    665
14  2014   마포구    5740   3136    4    4   22    9    265   218   2763    742
15  2014   양천구    4642   2654    5    5   11   10    129    96   2058    630
16  2014   강서구    5289   3225    8    6    9    9    214   179   2341    734
17  2014   구로구    5389   2985    3    3   14   10    252   186   2377    579
18  2014   금천구    3842   2434    7    7    9    6    162   133   1552    496
19  2014  영등포구    7003   4072   14   15   10    5    250   183   3080    892
20  2014   동작구    3869   2312    2    2    9    7    203   120   1787    603
21  2014   관악구    6781   3701    7    8   25   22    361   238   3029    784
22  2014   서초구    5558   3122    6    9   14   12    285   184   2747    782
23  2014   강남구    8851   5262   13    9   37   29    512   403   3895   1193
24  2014   송파구    8004   3982    9    8    9   10    255   195   4199    885
25  2014   강동구    5392   3285    5    4   10    8    148   129   2425    827

       폭력         실제 검거        검거율
       발생     검거
0   65318  54533  79061  60.502472
1    2508   2359   3881  77.295359
2    2415   2122   3188  60.944370
3    2018   1640   2339  61.568834
4    1682   1409   2047  57.146845
5    2828   2300   3524  56.222080
6    2388   2075   2882  66.055466
7    2775   2297   3259  60.881749
8    2287   1940   3024  65.653495
9    2320   2064   2806  69.627792
10   1585   1327   1981  63.412292
11   2722   2350   3300  62.123494
12   2862   2345   3325  61.222611
13   2119   1763   2585  61.635670
14   2686   2163   3136  54.634146
15   2439   1913   2654  57.173632
16   2717   2297   3225  60.975610
17   2743   2207   2985  55.390611
18   2112   1792   2434  63.352421
19   3649   2977   4071  58.132229
20   1868   1580   2312  59.757043
21   3359   2649   3700  54.564224
22   2506   2135   3119  56.117308
23   4394   3628   5262  59.450910
24   3532   2884   3981  49.737631
25   2804   2317   3285  60.923591

In [6]:
df.sort_values(by='검거율',ascending=False,  inplace=True)
df

      기간   자치구      합계          살인        강도      강간강제추행           절도         \
      기간   자치구      발생     검거   발생   검거   발생   검거     발생    검거     발생     검거
1   2014   종로구    5021   4610    3    7   12   15    226   948   2272   1281
9   2014   강북구    4030   2806    6    5   21   10    189   152   1494    575
6   2014  동대문구    4363   2882   12   11   13    8    141   112   1809    676
8   2014   성북구    4606   3028    8    5   16   20    165   128   2130    935
10  2014   도봉구    3124   1986    6    7   11   15    172   159   1350    478
18  2014   금천구    3842   2434    7    7    9    6    162   133   1552    496
11  2014   노원구    5312   3300    5    4    8    7    173   136   2404    803
13  2014  서대문구    4194   2588    3    3    4    7    185   150   1883    665
3   2014   용산구    3799   2340    1    2    7    7    213   169   1560    522
12  2014   은평구    5431   3325    5    3   24   21    188   158   2352    798
16  2014   강서구    5289   3225    8    6    9    9    214   179   2341    734
2   2014    중구    5231   3188    6    5   13   13    221   161   2576    887
25  2014   강동구    5392   3285    5    4   10    8    148   129   2425    827
7   2014   중랑구    5353   3259   11   10   14   11    163   118   2390    823
0   2014    합계  130674  79061  158  152  343  299   5462  4957  59393  19120
20  2014   동작구    3869   2312    2    2    9    7    203   120   1787    603
23  2014   강남구    8851   5262   13    9   37   29    512   403   3895   1193
19  2014  영등포구    7003   4072   14   15   10    5    250   183   3080    892
15  2014   양천구    4642   2654    5    5   11   10    129    96   2058    630
4   2014   성동구    3582   2048    1    1    5    6    141   103   1753    529
5   2014   광진구    6268   3531    8    9   16   22    249   199   3167   1001
22  2014   서초구    5558   3122    6    9   14   12    285   184   2747    782
17  2014   구로구    5389   2985    3    3   14   10    252   186   2377    579
14  2014   마포구    5740   3136    4    4   22    9    265   218   2763    742
21  2014   관악구    6781   3701    7    8   25   22    361   238   3029    784
24  2014   송파구    8004   3982    9    8    9   10    255   195   4199    885

       폭력         실제 검거        검거율
       발생     검거
1    2508   2359   3881  77.295359
9    2320   2064   2806  69.627792
6    2388   2075   2882  66.055466
8    2287   1940   3024  65.653495
10   1585   1327   1981  63.412292
18   2112   1792   2434  63.352421
11   2722   2350   3300  62.123494
13   2119   1763   2585  61.635670
3    2018   1640   2339  61.568834
12   2862   2345   3325  61.222611
16   2717   2297   3225  60.975610
2    2415   2122   3188  60.944370
25   2804   2317   3285  60.923591
7    2775   2297   3259  60.881749
0   65318  54533  79061  60.502472
20   1868   1580   2312  59.757043
23   4394   3628   5262  59.450910
19   3649   2977   4071  58.132229
15   2439   1913   2654  57.173632
4    1682   1409   2047  57.146845
5    2828   2300   3524  56.222080
22   2506   2135   3119  56.117308
17   2743   2207   2985  55.390611
14   2686   2163   3136  54.634146
21   3359   2649   3700  54.564224
24   3532   2884   3981  49.737631